/* Created by: domenic dangelo
* Created on: feb 2025
* This file contains the CSS for index.html
*/
.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}
/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/
.mdl-ripple {
  background: #000;
  opacity: 0.001;
}

body {
  background-color: rgb(167, 245, 73);
}

.page-content {
  color: rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  padding-top: 5pt;
  text-align: center;
}

img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
}

#result {
  color: rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}
